/*---------CSS RESET-----------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: canada-type-gibson;
	font-weight: 400;
	color: #343845;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.root {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

/*---------Buttons-----------*/

.button {
	display: inline-block;
	position: relative;
	padding: 2px;
	margin: 15px 0 5px 0;
	border: none;
  font-family: canada-type-gibson;
  font-size: 14px;
  background-color: #1491f1;
  color: #fff;
  border-radius: 10px;
	width: 110px;
	height: 25px;
	line-height: 25px;
  text-align: center;
  text-transform: uppercase;
	cursor: pointer;
}

.in-prosess {
	background-color: #f1c014;
}

.complete {
	background-color: #5a9251;
}

.float-left {
	float: left;
}

/*---------Fonts-----------*/

@font-face {
  font-family: 'canada-type-gibson';
  font-weight: 300;
}

/*---------Spinner-----------*/

.spinner {
	width: 100%;
	height: 100%;
	position: relative;
	margin-top: calc(100vh - 45%);
	display: flex;
	justify-content: center;
	z-index: 9999;
}

.spinner img:nth-child(1) {
  animation: .85s linear infinite rotate;
  animation-delay: .45s;
}

.spinner img:nth-child(2) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
/*---------404page-----------*/

.not_found {
	width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  background: #343845;
  z-index: 9999;
	color: white;
}

.not-found__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.not_found h1 {
  font-size: 42px;
  margin-bottom: 10px;
	margin-left: 65px;
}

.not_found .not_found_emoji {
  font-size: 100px;
	margin-left: 15px;
}

.not_found p {
	margin-left: 15px;
}

.not_found__button-container a {
	margin-right: 10px;
}

/*---------Header-----------*/

.header {
  max-width: 1440px;
  width: 100%;
  height: 164px;
  background-color: #fff;
}

.nav__container {
  height: 80px;
  width: 100%;
}

.nav__logo {
  position: relative;
  float: right;
  width: 65px;
  height: 65px;
  margin: 7.5px 0 0 100px;
  background: url('../img/logo.svg') no-repeat;
}

.nav__list-container ul {
    list-style-type: none;
    margin-left: 20px;
    overflow: hidden;
}

.nav__list-container ul li {
    float: left;
		height: 164px;
		width: 100px;
}

.nav__list-container ul li a {
    display: block;
    color: #9B9B9B;
    text-align: center;
    padding: 14px 18px 5px 18px;
    text-decoration: none;
    font-family: canada-type-gibson;
		font-weight: 400;
    font-size: 20px;
		border-radius: 0 0 10px 10px;
}

.nav__list-container ul li a:hover {
    background-color: #343845;
		color: #fff;
		font-weight: 600;
		fill: #fff;
}

.nav__list-container ul li a:active {
    background-color: #343845;
}

.nav__waiter,
.nav__kitchen,
.nav__table,
.nav__done {
  position: relative;
  height: 60px;
  width: 63px;
}

.nav__waiter {
  background: url('../img/drink.svg') no-repeat center center;
}

.nav__kitchen {
  background: url('../img/food.svg') no-repeat center center;
}

.nav__table {
  background: url('../img/table2.svg') no-repeat center center;
}

.nav__done {
  background: url('../img/complete.svg') no-repeat center center;
}

.nav__list-container ul li a:hover > .nav__waiter,
.WaiterLink.active .nav__waiter {
	background: url('../img/drinkwhite.svg') no-repeat center center;
}

.nav__list-container ul li a:hover > .nav__kitchen,
.KitchenLink.active .nav__kitchen{
	background: url('../img/foodwhite.svg') no-repeat center center;
}

.nav__list-container ul li a:hover > .nav__table,
.TableLink.active .nav__table {
	background: url('../img/table2white.svg') no-repeat center center;
}

.nav__list-container ul li a:hover > .nav__done,
.DoneLink.active .nav__done {
	background: url('../img/completewhite.svg') no-repeat center center;
}

.active {
	background-color: #343845;
	color: #fff;
	fill: #fff;
}

.nav__list-container ul li .active {
	background-color: #343845;
	color: #fff;
	fill: #fff;
}


/*---------Sub-Header-----------*/

.nav__sub-container {
  display: inline-block;
  height: 80px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #b7b7b7;
}

.nav__sub-header{
  position: relative;
  float: left;
  margin: 0 0 0 30px;
  line-height: 80px;
  font-family: canada-type-gibson;
  font-size: 24px;
  text-transform: uppercase;
}

.nav__sub-icon {
  position: relative;
  float: left;
  height: 24px;
  width: 24px;
  margin: 28px 0 0 20px;
  background: url('../img/sort-by-attributes.svg') no-repeat center center;
}

/*---------Content-----------*/

.content {
	height: 100%;
	width: 100%;
}

.content-left {
  position: relative;
  float: left;
  width: 50%;
  height: calc(100vh - 180px);
  overflow: scroll;
	border-right: 1px solid #b7b7b7;
}

.content-left__header {
  display: inline-block;
  width: 100%;
  height: 55px;
  font-size: 14px;
  font-family: canada-type-gibson;
  text-transform: uppercase;
  line-height: 55px;
  background-color: #f2f3f7;
  border-bottom: 1px solid #b7b7b7;
}

.content-left__table-nr,
.content-left__order-nr {
  position: relative;
  float: left;
}

.content-left__table-nr {
	  margin-left: 10px;
}

.content-left__order-nr {
	margin-left:50px;
}

.content-left__order-status {
  position: relative;
  float: left;
  margin-left: 20%;
}

.content__right {
  position: relative;
  float: right;
  width: 50%;
  height: calc(100vh - 180px);
}

/*---------Orders-----------*/

.orders {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.orders__list {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	-webkit-flex-flow: row wrap;
}

.orders__items {
	width: 21.5%;
	height: 100%;
	margin: 20px;
	border: 1px solid #E6E8EB;
	border-radius: 10px;
}

.orders__container {
	margin: 10px 20px 20px 20px;
}

.unpayd {
	border: 1px solid #FFB700;
}

.payd {
	border: 1px solid #50E3C2;
}

.orders__rejected {
	color: #FF5A5F;
	font-size: 12px;
	font-weight: 600;
}

.orders__item {
	margin: 15px 0px 0px 0px;
}

.orders__container-clicked {
	background-color: #f9f9f9;
}

.orders__stripe {
  display: inline-block;
  position: relative;
  float: left;
  height: 54px;
  width: 6px;
  background-color: #1491f1;
	float: left;
	margin: 0;
}

.orders__table_number {
	font-family: canada-type-gibson;
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	border-bottom: solid 1px #E6E8EB;
}

.orders__table_number,
.orders__order {
  position: relative;
	white-space: nowrap;
	clear: both;
	list-style: none;
	margin: 0px 0px 10px;
}

.orders__button {
  position: relative;
  float: right;
  margin: 17.5px 100px 0 0;
}

.orders__info {
	position: relative;
	float: right;
	height: 20px;
	width: 20px;
	background: url('../img/info.svg') no-repeat center center;
}

.orders__payment-container {
	position: relative;
	white-space: nowrap;
	margin-right: 20px;
}

.payment-status__img {
	margin: 0 0 5px 10px;
}

.orders__plus {
	margin: 0 0 5px 10px;
}

.orders__circle {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	background: #E6E8EB;
	text-align: center;
	float: left;
	color: #000;
	line-height: 25px;
}

.orders__phone {
	float: right;
	margin: 15px 0px 0px 0px;
	color: 	#A9A9A9;
	font-size: 14px;
}

.orders__price {
	padding: 5px 0px 0px 37px;
	margin-bottom: 20px;
	float: right;
	color: #A9A9A9;
}

.orders__title {
	font-size: 16px;
	line-height: 30px;
}

.bounce-enter {
  font-size: 12px;
  transition: font-size 1s ease;
	animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.bounce-enter.bounce-enter-active {
    font-size: 1em;
}

.bounce-leave {
  transform: translateX(0);
	opacity: 0.01;
  transition: opacity 1s ease;
	animation-name: bounceOut;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

 /*end leave state */
.bounce-leave.bounce-leave-active {
  transform: translateX(100%);
  opacity: 0;
  transition: .4s cubic-bezier(0.52, -0.37, 0.13, 1.22)
}

/*.bounce-leave {
  opacity: 1;
  transition: opacity .5s ease;
	animation-name: bounceOut;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.bounce-leave.bounce-leave-active {
  opacity: 0.01;
}*/

.bounce-appear {
  opacity: 0.01;
  transition: opacity 1s ease;
	animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.bounce-appear.bounce-appear-active {
  opacity: 1;
}

@keyframes bounceIn{
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

@keyframes bounceOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
	80% {
		opacity: 1;
		transform: scale(0.89);
	}
  100% {
    transform: scale(0);
  }
}

.example-enter {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}
/*-----------Single Content-----------*/

.gag {
	width: 100%;
}

.single-content {
	position: absolute;
	bottom: 0;
	right: 0;
	height: calc(100vh - 180px);
	width: 50%;
	background-color: #f9f9f9;
	overflow: scroll;
}

.single-content__info {
	margin-top: 20px;
}

.single-content__costomer-info {
	position: relative;
	float: left;
	width: 30%;
	padding-left: 20px;
}

.single-content__costomer-container {
	position: relative;
	float: left;
}

.single-content__costomer-title,
.single-content__phone-title,
.single-content__table-title,
.single-content__order-title,
.single-content__price-title {
	font-size: 14px;
	font-family: canada-type-gibson;
}

.single-content__costomer-name,
.single-content__phone-number,
.single-content__table-number,
.single-content__drinks,
.single-content__food,
.single-content__price-output {
	font-size: 20px;
	font-family: canada-type-gibson;
}

.single-content__table {
	position: relative;
	float: right;
	width: 50%;
}

.single-content__order {
	position: absolute;
	float: left;
	margin-top: 80px;
	padding-left: 20px;
	width: 100%;
}

/*-------- Modal -----------*/

.modal {
	width: 120px;
	height: 100px;
	position: absolute;
	z-index: 2;
	left: 50%;
	border-radius: 10px;
	background-color: #343845;
}

.modal__exit {
	height: 20px;
	width: 20px;
	background: url('../img/cancel.svg') no-repeat center center;
}

.modal__button {
	height: 30px;
	width: 80px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	background-color: #fff;
	margin: auto;
	margin-top: 15px;
	border-radius: 10px;
}

.orders__delete {

}

.orders__edit {

}
